<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path=""
  data-template="vertical-menu-template-starter"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>SnapCatch | Admin</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link
      rel="stylesheet"
      href="vendor/css/rtl/core.css"
      class="template-customizer-core-css"
    />
    <link
      rel="stylesheet"
      href="vendor/css/rtl/theme-default.css"
      class="template-customizer-theme-css"
    />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- Vendors CSS -->
    <link
      rel="stylesheet"
      href="vendor/libs/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link rel="stylesheet" href="vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="vendor/libs/formvalidation/dist/css/formValidation.min.css" />


    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="js/config.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside
          id="layout-menu"
          class="layout-menu menu-vertical menu bg-menu-theme"
        >
          <div class="app-brand demo">
            <a href="/../../../" class="app-brand-link">
              <span class="app-brand-logo demo">
                <img src="img/branding/logo.png" width="22"/>
              </span>
              <span class="app-brand-text demo menu-text fw-bold"></span>
            </a>

            <a
              href="javascript:void(0);"
              class="layout-menu-toggle menu-link text-large ms-auto"
            >
              <i
                class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"
              ></i>
              <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Page -->
            <li class="menu-item active">
              <a href="/admin/manage/registrations" class="menu-link">
                <i class="menu-icon tf-icons ti ti-smart-home"></i>
                <div data-i18n="Registrations">Registrations</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/admin/manage/trainings" class="menu-link">
                <i class="menu-icon tf-icons ti ti-app-window"></i>
                <div data-i18n="Trainings">Trainings</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div
              class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none"
            >
              <a
                class="nav-item nav-link px-0 me-xl-4"
                href="javascript:void(0)"
              >
                <i class="ti ti-menu-2 ti-sm"></i>
              </a>
            </div>

            <div
              class="navbar-nav-right d-flex align-items-center"
              id="navbar-collapse"
            >
              <div class="navbar-nav align-items-center">
                <a
                  class="nav-link style-switcher-toggle hide-arrow"
                  href="javascript:void(0);"
                >
                  <i class="ti ti-sm"></i>
                </a>
              </div>

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown"
                  >
                    <div class="avatar avatar-online">
                      <img
                        src="img/avatars/1.png"
                        alt
                        class="h-auto rounded-circle"
                      />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img
                                src="img/avatars/1.png"
                                alt
                                class="h-auto rounded-circle"
                              />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="ti ti-settings me-2 ti-sm"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="ti ti-logout me-2 ti-sm"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!--<div class="row g-4 mb-4">
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                        <span>Session</span>
                        <div class="d-flex align-items-center my-1">
                          <h4 class="mb-0 me-2">21,459</h4>
                          <span class="text-success">(+29%)</span>
                        </div>
                        <span>Total Users</span>
                      </div>
                      <span class="badge bg-label-primary rounded p-2">
                        <i class="ti ti-user ti-sm"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                        <span>Paid Users</span>
                        <div class="d-flex align-items-center my-1">
                          <h4 class="mb-0 me-2">4,567</h4>
                          <span class="text-success">(+18%)</span>
                        </div>
                        <span>Last week analytics </span>
                      </div>
                      <span class="badge bg-label-danger rounded p-2">
                        <i class="ti ti-user-plus ti-sm"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                        <span>Active Users</span>
                        <div class="d-flex align-items-center my-1">
                          <h4 class="mb-0 me-2">19,860</h4>
                          <span class="text-danger">(-14%)</span>
                        </div>
                        <span>Last week analytics</span>
                      </div>
                      <span class="badge bg-label-success rounded p-2">
                        <i class="ti ti-user-check ti-sm"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                      <div class="content-left">
                        <span>Pending Users</span>
                        <div class="d-flex align-items-center my-1">
                          <h4 class="mb-0 me-2">237</h4>
                          <span class="text-success">(+42%)</span>
                        </div>
                        <span>Last week analytics</span>
                      </div>
                      <span class="badge bg-label-warning rounded p-2">
                        <i class="ti ti-user-exclamation ti-sm"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
              <!-- Users List Table -->
              <div class="card">
                <div class="card-header border-bottom">
                  <h5 class="card-title mb-3">Manage Registrations</h5>
                  <div
                    class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0"
                  >
                    <div class="col-md-4 user_role">
                      <select id="selectTraining" class="form-select text-capitalize">
                        <option value="">All Trainings</option>
                        <% trainingListData.d.results.forEach(item => { %>
                          $('#selectTraining').append('<option value="<%= item.Id %>"><%= item.Title %></option>');
                        <% }); %>
                      </select>
                    </div>
                    <!-- Set Location and Schedule based on the selected training using the training id and the linked location and datefrom and dateto attibute from the traininglist -->
                    <script>
                      $('#selectTraining').on('change', function() {
                        var selectedTraining = $(this).val();
                        var selectedTrainingData = trainingListData.d.results.find(item => item.Id == selectedTraining);
                        $('#locationLabel').text(selectedTrainingData.Location);
                        $('#scheduleLabel').text(selectedTrainingData.DateFrom + ' - ' + selectedTrainingData.DateTo);
                      });
                    </script>
                    <div class="col user_plan">
                      <i class="ti ti-map-pin ti-xs mb-1"></i>
                      <span id="locationLabel">Location</span>
                    </div>
                    <div class="col user_status">
                      <i class="ti ti-calendar ti-xs mb-1"></i>
                      <span id="scheduleLabel">Schedule</span>
                    </div>
                    <div class="col user_status d-flex justify-content-end">
                      <button
                        class="dt-button add-new btn btn-primary"
                        tabindex="0"
                        aria-controls="DataTables_Table_0"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasAddUser"
                      >
                        <span class="d-inline-block"
                          ><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i
                          ><span class="d-none d-sm-inline-block"
                            >New Registration</span
                          ></span
                        >
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-datatable table-responsive">
                  <div
                    id="DataTables_Table_0_wrapper"
                    class="dataTables_wrapper dt-bootstrap5 no-footer px-3"
                  >
                    <table
                      class="datatables-users table border-top dataTable no-footer dtr-column"
                      id="DataTables_Table_0"
                      aria-describedby="DataTables_Table_0_info"
                      style="width: 1231px"
                    >
                      <thead>
                        <tr>
                          <th
                            class="control sorting_disabled dtr-hidden"
                            rowspan="1"
                            colspan="1"
                            style="width: 0px; display: none"
                            aria-label=""
                          ></th>
                          <th
                            class="sorting sorting_asc"
                            tabindex="0"
                            aria-controls="DataTables_Table_0"
                            rowspan="1"
                            colspan="1"
                            style="width: 170px"
                            aria-label="User: activate to sort column descending"
                            aria-sort="ascending"
                          >
                            Name
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="DataTables_Table_0"
                            rowspan="1"
                            colspan="1"
                            style="width: 170px"
                            aria-label="Role: activate to sort column ascending"
                          >
                            Company Name
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="DataTables_Table_0"
                            rowspan="1"
                            colspan="1"
                            style="width: 98px"
                            aria-label="Plan: activate to sort column ascending"
                          >
                            Contact Number
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="DataTables_Table_0"
                            rowspan="1"
                            colspan="1"
                            style="width: 183px"
                            aria-label="Billing: activate to sort column ascending"
                          >
                            Registered
                          </th>
                          <th
                            class="sorting_disabled"
                            rowspan="1"
                            colspan="1"
                            style="width: 140px"
                            aria-label="Actions"
                          >
                            Actions
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <% registrationListData.d.results.forEach(function(item) { %>
                        <tr class="<%= item.TrainingScheduleId %>">
                          <td
                            class="control dtr-hidden"
                            style="display: none"
                            tabindex="0"
                          ></td>
                          <td class="sorting_1">
                            <div
                              class="d-flex justify-content-start align-items-center user-name"
                            >
                              <div class="avatar-wrapper">
                                <div class="avatar avatar-sm me-3 pe-none">
                                  <span
                                    class="avatar-initial rounded-circle bg-label-primary"
                                    ><%= item.ID %><!--initials--></span
                                  >
                                </div>
                              </div>
                              <div class="d-flex flex-column">
                                <a
                                  href="app-user-view-account.html"
                                  class="text-body text-truncate"
                                  ><span class="fw-semibold"
                                    ><%= item.FirstName %> <%= item.LastName %></span
                                  ></a
                                ><small class="text-muted"
                                  ><%= item.Email %></small
                                >
                              </div>
                            </div>
                          </td>
                          <td><%= item.CompanyName %></td>
                          <td><%= item.ContactNumber %></td>
                          <td><%= item.formattedDateCreated %></td>
                          <td>
                            <div class="d-flex align-items-center">
                              <a href="javascript:;" class="text-body" data-bs-toggle="modal" data-bs-target="#editModal_<%= item.Id %>"
                                ><i class="ti ti-edit ti-sm me-2"></i></a
                              ><a
                                href="javascript:;"
                                class="text-body" data-bs-toggle="modal" data-bs-target="#deleteModal_<%= item.Id %>" data-record-Id="<%= item.Id %>"
                                >
                                <i class="ti ti-trash ti-sm mx-2"></i>
                                </a>
                                <a
                                href="javascript:;"
                                class="text-body dropdown-toggle hide-arrow"
                                data-bs-toggle="dropdown"
                                ><i class="ti ti-dots-vertical ti-sm mx-1"></i
                              ></a>
                              <div class="dropdown-menu dropdown-menu-end m-0">
                                <a
                                  href="#"
                                  data-bs-toggle="modal"
                                  data-bs-target="#viewModal_<%= item.Id %>"
                                  class="dropdown-item"
                                  >View</a
                                >
                              </div>
                            </div>
                          </td>
                        </tr>
                        
                        <!-- Modals -->
                        
                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal_<%= item.Id %>" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Registration</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body">Are you sure you want to delete the registration "<%= item.FirstName %> <%= item.LastName %> - <%= item.Email %>"?</div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                  Cancel
                                </button>
                                <button type="button" class="btn btn-primary delete-record" data-record-Id="<%= item.Id %>">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- View Modal -->
                        <div class="modal fade" id="viewModal_<%= item.Id %>" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog modal-sm" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="viewModalLabel">View</h5>
                                <button
                                  type="button"
                                  class="btn-close"
                                  data-bs-dismiss="modal"
                                  aria-label="Close"
                                ></button>
                              </div>
                              <div class="modal-body text-center">
                                <div class="d-flex align-items-center justify-content-center">
                                  <div class="avatar mb-3 pe-none">
                                    <span
                                      class="avatar-initial rounded-circle bg-label-primary"
                                      ><%= item.initials %></span
                                    >
                                  </div>
                                </div>
                                <h5><%= item.FirstName %> <%= item.LastName %></h5>
                                <p><%= item.Email %></p>
                                <p><%= item.ContactNumber %></p>
                                <p class="mb-0"><%= item.CompanyName %></p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                  Close
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Edit Modal -->
                        <div class="modal fade" id="editModal_<%= item.Id %>" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <form method="post" action="" enctype="multipart/form-data" class="updateItemForm needs-validation" id="updateItemForm" onsubmit="return false" novalidate>
                                <div class="modal-header">
                                  <h5 class="modal-title" id="editModalLabel">Edit Registration</h5>
                                  <button
                                    type="button"
                                    class="btn-close"
                                    data-bs-dismiss="modal"
                                    aria-label="Close"
                                  ></button>
                                </div>
                                <div class="modal-body">
                                  <div class="row g-2">
                                    <div class="col mb-3">
                                      <label for="firstName" class="form-label">First Name</label>
                                      <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Enter Name" value="<%= item.FirstName %>" required />
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please enter a first name</div>
                                    </div>
                                    <div class="col mb-3">
                                      <label for="lastName" class="form-label">Last Name</label>
                                      <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter Name" value="<%= item.LastName %>" required />
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please enter a first name</div>
                                    </div>
                                  </div>
                                  <div class="row g-2">
                                    <div class="col mb-3">
                                      <label for="email" class="form-label">Email</label>
                                      <input
                                        type="email"
                                        id="email" name="email"
                                        class="form-control"
                                        placeholder="xxxx@xxx.xx"
                                        value="<%= item.Email %>"
                                        required
                                      />
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please enter an email</div>
                                    </div>
                                    <div class="col mb-3">
                                      <label for="contactNumber" class="form-label">Contact Number</label>
                                      <input type="tel" id="contactNumber" name="contactNumber" class="form-control" placeholder="09123456789" value="<%= item.ContactNumber %>" required />
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please enter a contact number</div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col mb-3">
                                      <label for="companyName" class="form-label">Company Name</label>
                                      <input type="text" id="companyName" name="companyName" class="form-control" placeholder="Company Name" value="<%= item.CompanyName %>" required />
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please enter a company name</div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col mb-0">
                                      <label for="fileInput" class="form-label">Attachment</label>
                                      <input type="file" id="fileInput" name="fileInput" class="form-control" />
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please upload an ID</div>
                                    </div>
                                  </div>
                                  <input type="hidden" id="trainingId" value="<%= item.TrainingScheduleId %>" />
                                  <input type="hidden" id="registrationId" value="<%= item.Id %>" />
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                    Cancel
                                  </button>
                                  <button type="submit" class="btn btn-primary updateRegistrationButton" id="updateRegistrationButton" data-record-id="<%= item.Id %>">Save changes</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Offcanvas to add new user -->
                <div
                  class="offcanvas offcanvas-end"
                  tabindex="-1"
                  id="offcanvasAddUser"
                  aria-labelledby="offcanvasAddUserLabel"
                >
                  <div class="offcanvas-header">
                    <h5 id="offcanvasAddUserLabel" class="offcanvas-title">
                      Add Registration
                    </h5>
                    <button
                      type="button"
                      class="btn-close text-reset"
                      data-bs-dismiss="offcanvas"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
                    <form
                      class="add-new-user pt-0 needs-validation"
                      id="addNewUserForm"
                      method="post" enctype="multipart/form-data" onsubmit="return false"
                      novalidate
                    >
                      <div class="mb-3 fv-plugins-icon-container">
                        <label class="form-label" for="firstName"
                          >First Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="firstName"
                          placeholder="John"
                          name="firstName"
                          aria-label="John"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a first name</div>
                      </div>
                      <div class="mb-3 fv-plugins-icon-container">
                        <label class="form-label" for="lastName"
                          >Last Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="lastName"
                          placeholder="Doe"
                          name="lastName"
                          aria-label="Doe"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a last name</div>
                      </div>
                      <div class="mb-3 fv-plugins-icon-container">
                        <label class="form-label" for="email"
                          >Email</label
                        >
                        <input
                          type="email"
                          id="email"
                          class="form-control"
                          placeholder="john.doe@example.com"
                          aria-label="john.doe@example.com"
                          name="email"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter an email</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="contactNumber"
                          >Contact Number</label
                        >
                        <input
                          type="tel"
                          id="contactNumber"
                          class="form-control phone-mask"
                          placeholder="9012345678"
                          aria-label="john.doe@example.com"
                          name="contactNumber"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a contact number</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="companyName"
                          >Company Name</label
                        >
                        <input
                          type="text"
                          id="companyName"
                          class="form-control"
                          placeholder="XYZ Inc."
                          aria-label="jdoe1"
                          name="companyName"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a company name</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="fileInput"
                          >Attachment</label
                        >
                        <input
                          type="file"
                          id="fileInput"
                          class="form-control"
                          placeholder="XYZ Inc."
                          aria-label="jdoe1"
                          name="fileInput"
                          required
                        />
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please upload an ID</div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="training"
                          >Training</label>
                        <select id="trainingId" class="form-select" required>
                          <option value="">Select Training</option>
                          <!--Iterate through the training list to use as options-->
                          <% trainingListData.d.results.forEach(item => { %>
                            <option value="<%= item.Id %>"><%= item.Title %></option>
                          <% }); %>
                        </select>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please select a training</div>
                      </div>
                      <button
                        type="submit"
                        class="btn btn-primary me-sm-3 me-1 data-submit waves-effect waves-light" id="addNewRegistrationSubmit"
                      >
                        Submit
                      </button>
                      <button
                        type="reset"
                        class="btn btn-label-secondary waves-effect"
                        data-bs-dismiss="offcanvas"
                      >
                        Cancel
                      </button>
                      <input type="hidden" />
                    </form>
                  </div>
                </div>
              </div>
              
              <!-- Bootstrap modal for successful submission -->
              <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <h5 class="modal-title mb-3" id="successModalLabel">Success!</h5>
                      Thank you for registering! Your submission has been successful. An email with further details and a link will be sent shortly.
                    </div>
                    <div class="modal-footer border border-0">
                      <button type="button" class="btn btn-label-secondary waves-effect alertsuccess" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
            
            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column"
                >
                  <div>
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    SnapCatch
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="vendor/libs/jquery/jquery.js"></script>
    <script src="vendor/libs/popper/popper.js"></script>
    <script src="vendor/js/bootstrap.js"></script>
    <script src="vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/libs/node-waves/node-waves.js"></script>

    <script src="vendor/libs/hammer/hammer.js"></script>
    <script src="vendor/libs/i18n/i18n.js"></script>
    <script src="vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="vendor/libs/moment/moment.js"></script>
    <script src="vendor/libs/datatables/jquery.dataTables.js"></script>
    <script src="vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="vendor/libs/datatables-responsive/datatables.responsive.js"></script>
    <script src="vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js"></script>
    <script src="vendor/libs/datatables-buttons/datatables-buttons.js"></script>
    <script src="vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js"></script>
    <script src="vendor/libs/jszip/jszip.js"></script>
    <script src="vendor/libs/pdfmake/pdfmake.js"></script>
    <script src="vendor/libs/datatables-buttons/buttons.html5.js"></script>
    <script src="vendor/libs/datatables-buttons/buttons.print.js"></script>
    <script src="vendor/libs/select2/select2.js"></script>
    <script src="vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="vendor/libs/cleavejs/cleave.js"></script>
    <script src="vendor/libs/cleavejs/cleave-phone.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>
    <script src="vendor/js/main.js"></script>
    <script src="../../../vendor/js/bootstrap-validation.js"></script>
    <script src="vendor/js/datatables.js"></script>
  
  </body>
</html>
